<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.justasecondapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ReceivingParcelableActivity"
                android:label="@string/title_activity_receiving_parcelable"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ReceivingFileActivity"
                android:label="@string/title_activity_receiving_file"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
                android:name=".ReceivingBroadcast"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="matthew.broadCastTest.Action"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".ReceivingImageActivity"
                android:label="@string/title_activity_receiving_image"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ReceivingTextActivity"
                android:label="@string/title_activity_receiving"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".AnExampleService"
                android:enabled="true"
                android:exported="true">
        </service>
    </application>

</manifest>